<% provide(:title, @title) %>

<div class="stats">
  <%= render 'users/stats' %>
  <% if @users.any? %>
    <div class="user_avatars">
      <% @users.each do |user| %>
        <%= link_to (image_tag user.avatar.avatar_show.url), user %>
      <% end %>
    </div>
  <% end %>
</div>
  