.projects-container
  %h1 Million $$ Ideas 
  =image_tag "lightbulb.svg"
  - if user_signed_in?
    = link_to '+ Share your own idea!', new_project_path
  - else 
    .message you must create an account to share a new idea!
  .container#projects