%h1= @project.title
%p= @project.content

.rating-box
  .star#one
  .star#two
  .star#three 
  .star#four
  .star#five

/ - if user_signed_in?
%input#comment-box{ data: {project_id: @project.id } }
%ul#comments
/ - else 
/   %p You must be signed in to comment

= link_to 'Know a similar Project?', projects_similars_path(@project)

#similars
  %P Similar Projects
  - @project.similar_projects.each do |project|
    = project.title