

.header {
  text-align: center;
  height: 200px;
  line-height: 200px;
}

.categories {
  width: 75%;
  margin: 0 auto;
  text-align: center;

}

.category { 
  background-color: black;
  width: 50%;
  width: 200px;
  height: 90px;
  margin: 5px;
  border: solid 1px;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

.categories a {
  line-height: 100px;
  color: white;
}