
//index page
.projects-container{
  margin: 20px;
  padding:20px;
  img{
    height:30px;
  }
  h1{
    background:lightgrey;
    margin: -40px -40px 30px -40px;
    z-index:-1;
    padding:70px;
    color:white;
    font-size: 75px;
    background: url('lb-bg.jpg');
    background-size: 100%;
  }

  #projects{
    border-top:solid 1px black;
    margin:20px 0;
    text-align: center;
    width:100%;
    h2{
      height:20px;
      margin:0 50px;
      float:left;
    }
    p{
      float:right;
      margin:0 50px;
      text-decoration: none;
    }
    .project{
      // padding:10px;
      border-bottom: dotted 1px black;
      margin:0px;
      height:50px;
      list-style-type: none;
    }
    .project:hover{
      background:lightgrey;
      color:white
      a{
        color:white;
      }
    }
  }
}


//show page

.project-page{
  padding:20px;
  .project-header{
    z-index:-1;
    background:lightgrey;
    width:100%;
    color:white;
    height: 210px;
    margin:-20px;
    margin-bottom: 30px;
    padding:20px;
    .image{
      height:65px;
      display:inline-block;
      margin-left: 50px;
    }
    h1{
      display:inline-block;
    }
    .project-image{
      position:absolute;
      top: 100px;
      right:0;
      height: 250px;
    }
    #categories{
      position:relative;
      top: 80px;
      width: 40%;
      .category-thumbnail{
        text-align:center;
        background:black;
        width:20%;
        float:left;
        margin:0 10px;
        padding:2 5px;
        border-radius:3px;
        a{
          color:white;
        }
      }
    }
  }
  #comment-box{
    width:50%;
    height:80px;
    padding:10px;
    font-size:15px;
    float:left;
  }
  ul{
    width: 50%;
    float:left;
    padding:0;
    // border:blue solid 1px;

    li{
      list-style-type: none;
      display:block;
      border-top: dotted black 1px;    
    }
  }
  .small{
    font-size: 12px;
  }

  .message{
    background:black;
    color:white;
    width: 250px;
    padding: 20px;
    text-align: center;
    border-radius:5px;
  }
  #similars{
    padding:10px;
    width: 50%;
    // border: black 1px dotted;
    float:left;
    margin-bottom: 40px;
  }
}


//form page
.background{
  background-image: url('lb-bg.jpg');
  padding:25px;
  margin:0;
  #form{
    background:black;
    opacity:0.8;
    max-width: 500px;
    color:white;
    margin: 20px auto;
    text-align:center;
    padding: 20px;
    border-radius:4px;
    #input{
      width: 340px;
      background:lightgrey;
      border:none;
      color:white;
      font-size: 15px;
      padding:10px;
    }
    textarea{
      height: 300px;
    }
    
    input{
      padding:10px;
      font-size: 18px;
      border:none;
      background:lightgrey;
      color:black;
      width:300px;
    }
    #project_content{
      height:300px;
    }
    input[type="submit"]{
      background:black;
      color:white
    }
  }
}
