
//index page
.projects-container{
  margin: 20px;
  padding:20px;
  img{
    height:30px;
  }

  #projects{
    border-top:solid 1px black;
    margin:20px 0;
    text-align: center;
    width:100%;
    h2{
      height:20px;
      margin:0 50px;
      float:left;
    }
    p{
      float:right;
      margin:0 50px;
      text-decoration: none;
    }
    .project{
      // padding:10px;
      border-bottom: dotted 1px black;
      margin:0px;
      height:50px;
      list-style-type: none;
    }
    .project:hover{
      background:#C34B71;
      color:white
      a{
        color:white;
      }
    }
  }
}


//show page

.project-page{
  padding:20px;
  .image{
    height:45px;
  }
  h1{
    text-align:center;
    margin:20px auto;
    text-decoration: underline;
    border-radius:5px;
    padding:3px;
    display:inline-block;
  }
  #comment-box{
    width:50%;
    height:80px;
    padding:10px;
    font-size:15px;
    float:left;
  }
  ul{
    padding:0;
    li{
      list-style-type: none;
      border-top: dotted black 1px;
      
    }
  }
  .small{
    font-size: 12px;
  }

  .message{
    background:black;
    color:white;
    width: 250px;
    padding: 20px;
    text-align: center;
    border-radius:5px;
  }
  #similars{
    padding:10px;
    width: 50%;
    // border: black 1px dotted;
    float:left;
    margin-bottom: 40px;
    a{
    }
    p{

    }
  }
  #categories{
    // border: black 1px solid;
    width: 40%;
    .category-thumbnail{
      text-align:center;
      background:black;
      width:20%;
      float:left;
      margin:0 10px;
      padding:2 5px;
      border-radius:3px;
      a{
        color:white;
      }
    }
  }
  
}


//form page
.background{
  background-image: url('lb-bg.jpg');
  padding:25px;
  margin:0;
  #form{
    background:darkgrey;
    opacity:0.8;
    max-width: 500px;
    color:black;
    margin: 20px auto;
    text-align:center;
    padding: 20px;
    #input{
      width: 340px;
      background:lightgrey;
      border:none;
      color:white;
      font-size: 15px;
      padding:10px;
    }
    textarea{
      height: 300px;
    }
    
    input{
      padding:10px;
      font-size: 18px;
      border:none;
      background:lightgrey;
      color:black;
      width:300px;
    }
    #project_content{
      height:300px;
    }
    input[type="submit"]{
      background:black;
      color:white
    }
  }
}
