
//index page
#projects{
  margin:20px;
  text-align: center;
  width:100%;
  h2{
    height:20px;
    margin:0 50px;
    float:left;
  }
  p{
    float:right;
    margin:0 50px;
    text-decoration: none;
  }
  .project{
    // padding:10px;
    margin:0px;
    height:50px;
    list-style-type: none;
  }
  .project:hover{
    background:#C34B71;
    color:white
    a{
      color:white;
    }
  }
}

//show page
.project-page{
  padding:20px;
  #comment-box{
    background: lightgrey;
    border:none;
    color:white;
    width:100%;
    height:50px;
    font-size: 15px;
    padding: 10px;
  }
  ul{
    padding:0;
    li{
      list-style-type: none;
      border-top: dotted black 1px;
      padding:5px;
    }
  }
  
}

