.rating{
  text-align:right;
  p{
    margin: 0 20px;
  }
 
  .rating-box{
    // border:solid 1px black;
    float:right;
    width: 170px;
    padding: 0;
    .star{
      width: 30px;
      height: 30px;
      margin:0;
      // border:1px dotted black;
      display: inline-block;
      background: url('staroff.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .star.hover{
      background: url('staron.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
}


