

body.welcome { 
  font-family: Arial, Verdana, sans-serif;
  line-height:1.4;
  text-align: center;
  padding:0;
}

.slideshow {
  background-color: blue;
  height: 500px;
}

/* slideshow components */
.slideshow-container {
  position:relative;
  padding-top: 80px;

  width:480px;
  height:280px;
  margin:2em auto;

  overflow:hidden;
}

/* the container for all the images */
.slideshow-images {
  width:2700px;
}
.slideshow-images img {
  position:relative;
  float:left;
  opacity:0;  /*initial state*/ 
}


/* slideshow navigation and pager */
.slideshow-nav {
  text-align:center;
}
.slideshow-nav a {
  display:inline-block;
  width:1em;
  height:1em;
  margin:0 0.25em;

  background:#fff;
  border:1px solid #666;
  border-radius:100%;
  -webkit-transition:0.3s;
          transition:0.3s;
}
.slideshow-nav a:hover {
  background:#ccc;
}
.slideshow-nav .is-active {
  background:#999;
}

.slotdiv {
  background-color:red;
  height: 500px;
}

.nav ul {
  padding:0px;
  margin:0px;
}
.nav li {
  padding:0px;
  margin:0px;
}
div#container { 
  width: 100%;
  margin: 0 auto;
  overflow:hidden;
}



input#playBtn {
  height:30px;
  padding: 30px;
  font-size:20px;
}

div#button {
  right: 50%;
  position:absolute;
  bottom: 0px;
}


div.nav {
  width:210px;
  font-size: 20px;
  margin: 30px;
  float: left;
  position:relative;
  list-style:none;
  font-weight: bold;

}


.jSlots-wrapper {  
    overflow: hidden; /* to hide the magic */  
    height: 20px; /* whatever the height of your list items are */  
    display: inline-block; /* to size width correctly, can use float too, or width*/  
    width: 100px;
    height: 100px;
    background: rgb(2,5,2); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(2,5,2,1) 0%, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 67%, rgba(255,252,252,1) 88%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(2,5,2,1)), color-stop(12%,rgba(255,255,255,1)), color-stop(33%,rgba(255,255,255,1)), color-stop(67%,rgba(255,255,255,1)), color-stop(88%,rgba(255,252,252,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(2,5,2,1) 0%,rgba(255,255,255,1) 12%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 67%,rgba(255,252,252,1) 88%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(2,5,2,1) 0%,rgba(255,255,255,1) 12%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 67%,rgba(255,252,252,1) 88%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(2,5,2,1) 0%,rgba(255,255,255,1) 12%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 67%,rgba(255,252,252,1) 88%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(2,5,2,1) 0%,rgba(255,255,255,1) 12%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 67%,rgba(255,252,252,1) 88%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020502', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
     }

div.slotHole {
    border: 1px solid grey;
    border-style:ridge;
  
}  

.jSlots-wrapper ul li {
  height: 100px;
  text-align: center;
  list-style: none;
  padding-top: 20px;
  font-size: 20px;
}

.slot1 li, .slot2 li, .slot3 li, .slot4 li, .slot5 li {
  font-size: 20px;
  list-style:none;
  margin:0;
  font-weight: bold;
}

input#form {
  width: 100px;
  height:35px;
  margin:10px;
  font-size: 20px;
}

p.slot {
  font-size: 24px;
  list-style:none;
  margin:0;
  /*font-weight: bold;
  color: #FCC542;
  text-shadow: 3px 3px #ff0000;*/
}
